@import "tailwindcss";

:root {
  --background: #F5F5F0;
  /* Warm Beige */
  --foreground: #4A4A4A;
  /* Dark Warm Grey */
  --primary: #8DA399;
  /* Sage Green */
  --secondary: #D6D1CD;
  /* Sand/Warm Grey */
  --accent: #E0E8E0;
  /* Soft Sage */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-nunito);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}